/*  your css code here. If applicable */
.heading {
  text-align: center;
  font-weight: bold;
}

table {
  border: 1px solid black;
  border-spacing: 1px;
  padding: 1px;
  width: 100%;
  margin: auto;
}

.middle td {
  border: 1px solid black;
  height: 25px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.green {
  background-color: green;
 
}

.blue {
  background-color: blue;
  
}

#t-image img {
  display: block;
  margin: auto;
}
